@font-face {
  font-family: "m6x11";
  src: url("fonts/m6x11.ttf");
}
html {
  image-rendering: pixelated;
  margin: 0;
  padding: 0;
}
.rowContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.columnContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container{
  background-image: url('gfx/wall128x128.png'); /* Source: https://opengameart.org/content/seamless-wall */
  background-size: auto;
  background-position: center center;
  background-repeat: repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
