.container{
          background-image: url(https://opengameart.org/sites/default/files/styles/medium/public/wall128x128.png);
          background-size: auto;
          background-position: center center;
          background-repeat: repeat;
          height: 100vh;
}
