.colorIndicator {
  width: 90%;
  outline: none;
}

.pixelButton {
  width: 100%;
  height: 50%;
  outline: none;
}
.no-click {
    pointer-events: none;
}
.pixelButton::-moz-focus-inner{
  border: 0;
}
.text {
  display: flex;
  font-family: "m6x11";
  font-weight: bold;
  font-size: 5vh;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.gameControls {
  width: 100%;
  height: 100%;
  display: flex;
}

.buttonColumn {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#boob {
  height: 100vh;
  width: 50%;
  background: #43A047;
}
#fullscreenButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  color: white;
  font-size: 20pt;
}
